HT_FTP/Web References/WebSmtpMail/RemoteMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MailTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailCc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailBody" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bAttach" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bt" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFilesResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFilesResponse">
        <s:complexType />
      </s:element>
      <s:element name="FilePath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FilePathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilePathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSoapIn">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFilesSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFiles" />
  </wsdl:message>
  <wsdl:message name="SaveFilesSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFilesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFilesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFiles" />
  </wsdl:message>
  <wsdl:message name="DeleteFilesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFilesResponse" />
  </wsdl:message>
  <wsdl:message name="FilePathSoapIn">
    <wsdl:part name="parameters" element="tns:FilePath" />
  </wsdl:message>
  <wsdl:message name="FilePathSoapOut">
    <wsdl:part name="parameters" element="tns:FilePathResponse" />
  </wsdl:message>
  <wsdl:portType name="RemoteMailSoap">
    <wsdl:operation name="Send">
      <wsdl:input message="tns:SendSoapIn" />
      <wsdl:output message="tns:SendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFiles">
      <wsdl:input message="tns:SaveFilesSoapIn" />
      <wsdl:output message="tns:SaveFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFiles">
      <wsdl:input message="tns:DeleteFilesSoapIn" />
      <wsdl:output message="tns:DeleteFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FilePath">
      <wsdl:input message="tns:FilePathSoapIn" />
      <wsdl:output message="tns:FilePathSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemoteMailSoap" type="tns:RemoteMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFiles">
      <soap:operation soapAction="http://tempuri.org/SaveFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFiles">
      <soap:operation soapAction="http://tempuri.org/DeleteFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilePath">
      <soap:operation soapAction="http://tempuri.org/FilePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemoteMailSoap12" type="tns:RemoteMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFiles">
      <soap12:operation soapAction="http://tempuri.org/SaveFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFiles">
      <soap12:operation soapAction="http://tempuri.org/DeleteFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilePath">
      <soap12:operation soapAction="http://tempuri.org/FilePath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteMail">
    <wsdl:port name="RemoteMailSoap" binding="tns:RemoteMailSoap">
      <soap:address location="http://10.157.20.62/Mailservice/RemoteMail.asmx" />
    </wsdl:port>
    <wsdl:port name="RemoteMailSoap12" binding="tns:RemoteMailSoap12">
      <soap12:address location="http://10.157.20.62/Mailservice/RemoteMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>